/* News.css */


.video-card {
  margin: 0;
  padding: 0;
    width: 320px; 
    height: 200px; 
    margin: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  @media (min-width: 768px) {
    .owl-carousel {
      justify-content:start;
    }
  }
  
  .video-card iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }
  
 
  .owl-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding: 25px; 
    gap: 10px; 
  }
  
  .video-carousel-containerConcern {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
   color: rgb(7, 80, 105);
  }
  
  .h1v {
    font-size: 24px; 
    margin-bottom: 10px;
    color: #3c11ea; 
  }
  
  


.prev-buttonConcern,
.next-buttonConcern {
  margin-top: 30px;
  
  justify-content: space-between;
  background-color: #333; 
  color: #fff; 
  font-size: 24px; 
  border: none; 
  padding: 10px 20px; 
  cursor: pointer; 
  border-radius: 50%; 
  transition: background-color 0.3s ease; 
}


.prev-buttonConcern:hover {
  background-color: #555; 
}


.next-buttonConcern:hover {
  background-color: #555; 
}


.see-more-button1Concern {
  position: absolute;
  margin-top: 25px; 
  margin-left: 1360px; 
  background-color: #f44336; 
  color: #fff; 
  padding: 5px 10px; 
  border: none;
  cursor: pointer;
  border-radius: 4px; 
}




.see-more-button2Concern {
  position: absolute;
  margin-top: 25px; 
  margin-left: 1360px; 
  background-color: #f44336; 
  color: #fff; 
  padding: 5px 10px; 
  border: none;
  cursor: pointer;
  border-radius: 4px; 
}




.see-more-button3Concern {
  position: absolute;
  margin-top: 25px; 
  margin-left: 1360px; 
  background-color: #f44336; 
  color: #fff; 
  padding: 5px 10px; 
  border: none;
  cursor: pointer;
  border-radius: 4px; 
}


.video-item-infoforFN {
  display: flex;
  justify-content: center; 
  gap: 40px;
  width: 100%; 
  margin-top: 3px; 
  
}

.video-item-infoforTN {
  display: flex;
  justify-content: center; 
  gap: 40px;
  width: 100%; 
  margin-top: 3px; 
  
  
}


.video-item-infoforLN {
  display: flex;
  justify-content: center; 
  gap: 40px;
  width: 100%; 
  margin-top: 3px; 
  
  
}

