/* ConcernSection.css */
.concern-sectionH {
  text-align: center;
  padding: 30px;
}

.h2C {
  font-family: "Open Sans";
  font-size: 64px;
  margin-top: 20px;
}

.p1C {
  font-family: "Open Sans";
  font-size: 22px;
  margin-top: -60px;
}

.p2C {
  font-family: "Open Sans";
  font-size: 22px;
  margin-top: -20px;
}

.card-containerH {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  
}

.cardH {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  width: 680px;
  height: 300px;
  background-color: #cbcbcbb4;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.card-imageH {
  
  width: 280px;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.card-imageH img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.card-contentH {
  flex-grow: 1;
  padding: 10px;
  text-align: left;
  margin-left: 180px;
  margin-top: 35px;
  
}

.cardH .actionsH {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cardH .actionsH i {
  font-size: 24px;
  margin-right: 10px;
  color: #333;
}

.cardH .actionsH i.fa-thumbs-up {
  cursor: pointer;
  color: #007bff;
}

.cardH .actionsH i.fa-share-square {
  cursor: pointer;
  color: #17a2b8;
}

.cardH .actionsH i.fa-comment {
  cursor: pointer;
  color: #28a745;
}

.cardH .actionsH i.fa-clock {
  cursor: pointer;
  color: #ffc107;
}

.upload-butttonH {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: rgb(79, 146, 197);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gapH {
  margin-top: 10px;
}

.horizontal-line {
  border: none;
  border-top: 1px solid #3b3b3b;
  margin-bottom: -20px;
  background-color: #555;
}

.background-after-line {
  background-color: #373737;
  padding: 20px;
  text-align: center;
}

.email-input {
  text-align: center;
  margin-top: 20px;
}

.email-input input {
  width: 120px;
  height: 25px;
  padding-left: 10px;
  font-size: 12px;
}

.useful-links {
  color: white;
  margin-top: -30px;
  text-align: left;
}

.nav-items-last {
  color: white;
  list-style: none;
  display: flex;
  padding: 0;
}

.nav-items-last li {
  color: white;
  margin-right: 20px;
  margin-top: -20px;
  font-weight: bold;
}

.contact-info {
  color: white;
  font-weight: bold;
  text-align: right;
  margin-top: -50px;
}

.contact-info p {
  color: white;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 768px) {
  .card-containerH {
    grid-template-columns: 1fr;
  }

  .cardH {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .card-imageH {
    width: 100%;
    height: 200px;
  }

  .card-contentH {
    text-align: center;
  }

  .card .actionsH {
    position: static;
    margin-top: 10px;
  }
}
