.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105vh; 
  background-color:rgb(28, 186, 222); 
}

.login-card {
  flex: 1;
  padding: 20px;
}

.logo-card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(14, 135, 169);
  height: 100vh;
}

.moving-logo {
  position: relative;
  animation: logoRotation 2s alternate infinite, logoMovement 4s alternate infinite; /* Added rotation and movement */
}

.logo {
  width: 100px; 
}

@keyframes logoRotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg); 
  }
}

@keyframes logoMovement {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, 0); 
  }
  50% {
    transform: translate(50px, 50px); 
  }
  75% {
    transform: translate(0, 50px); 
  }
  100% {
    transform: translate(0, 0); 
  }
}
