/* Navbar.css */
.navbar {
  background: linear-gradient(to right, #e70ba1, #09a6c6,  #e70ba1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 42px;
  }
  
  .logo a {
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 300%;
    font-family: cursive;
    color:white;
  }
  
  
.search-bar {
    padding: 10px;
    border-radius: 10px; 
    
    
   
  }

  
  .search-bar input[type="text"] {
    padding: 15px;
    border: none;
    border-radius: 10px; 
    
   
  }
  
  .search-bar input[type="text"]:focus {
    outline: none; 
    box-shadow: 0 0 5px dark rgb(79, 197, 128); 
    
    
  }
  .search-bar button {
    margin-left: 30px; 
    padding: 5px;
    margin-top: 2px;
    padding-bottom: 10px;
    width: 100px;
  }
  
  
  
  
  input[type="text"] {
    padding: 5px;
    border: none;
  }
  
  button {
    font-family: "Open Sans";
    font-size: 20px;
    background-color:rgb(79, 146, 197);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
   
  }
  
 
  
  .nav-links {
    
    display: flex;
    gap: 10px; 
  }
  
  .nav-links a {
    background-color:rgb(79, 146, 197);
    font-size: 20px;
    font-family: "Open Sans";
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    color:white;
    padding: 5px 10px;
    border: 2px solid transparent; 
    border-radius: 10px;
    border: 2px solid black;
  }
  
  
  