.news-containerLN {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    background-color: lightblue;
    justify-content: center; 
  }
  
  .news-card-for-featuredLN {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; 
    height: 220px; 
    margin-left: 75px;
    object-fit: cover;
    margin-top: 100px;
  }
  
  .news-imageLN {
    width: 300px;
    height: 180px; 
    object-fit: cover;
  }
  
  .news-contentLN {
    padding: 15px;
    width: 100%; 
  }
  
  .news-titleLN {
    font-size: 12px;
   margin-left: 80px;
   margin-top: 0px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    line-height: 1.2; 
    max-height: 3.6em;
    text-overflow: ellipsis;
    
    text-align: left;
  }
  
  .news-descriptionLN {
    font-size: 14px;
    color: #666;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; 
  }
  
  .news-metaLN {
    font-size: 12px;
    color: #333;
    margin-top: -15px; 
    width: 100%; 
    display: block;
    justify-content: space-around; 
    align-items: center;
    text-align: center;
    gap: 10px; 
    padding: 0 10px;
  }
  
  
  .news-infoLN {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
    padding: 0 10px; 
    
}

.news-likesLN{
  margin-right: 40px;
 
}
  
.news-viewsLN{
  margin-right: 30px;
}


