/* Navbar.css */
.navbar {
    background: linear-gradient(to right, #e70ba1, #09a6c6,  #e70ba1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      height: 42px;
    }
    
    .logo a {
      text-decoration: none;
      margin-bottom: 10px;
      font-size: 300%;
      font-family: cursive;
      color:white;
    }
    
    
  
  .search-bar {
      padding: 10px;
      border-radius: 10px; 
      
      
      
     
    }
  
    
    .search-bar input[type="text"] {
      padding: 15px; 
      border: none;
      border-radius: 10px; 
     
      
     
    }
    
    .search-bar input[type="text"]:focus {
      outline: none; 
      box-shadow: 0 0 5px dark rgb(79, 197, 128); 
      
      
    }
    .search-bar button {
      margin-left: 30px; 
      padding: 5px;
      margin-top: 2px;
      padding-bottom: 10px;
      width: 100px;
    }
    
    
    
    
    input[type="text"] {
      padding: 5px;
      border: none;
    }
    
   
    
   
    
    .nav-links {
      
      display: flex;
      gap: 10px; 
    }
    
    .nav-links a {
      background-color:rgb(79, 146, 197);
      font-size: 20px;
      font-family: "Open Sans";
      text-decoration: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center; 
      color:white;
      padding: 5px 10px;
      border: 2px solid transparent; 
      border-radius: 10px;
      border: 2px solid black;
    }

    
.fileuploadh1 {
  font-size: 34px;  
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000;  
  margin-left: 120px;
 
  margin-top: -43px;  
  
}

.uploadcolor{
  color: rgb(79, 146, 197);
}

.form-container {
  margin-top: 80px;
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  width: 1500px;
}

.form-field {
  flex: 1; 
  
}

.form-field label {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
  margin-left: 30px;
}

.form-field input[type="text"],
.form-field select,
.form-field textarea {
  margin-left: 30px;
  width: 300px;
  padding: 10px;
  border: 2px solid #000; 
  border-radius: 10px;
  font-size: 18px;
}




.drag-and-drop-container {
  display: flex; 
  justify-content: center; 
  align-items: flex-start; 
  gap: 200px; 
  flex-wrap: wrap; 
  margin-bottom: 20px; 
}


.drag-and-drop-box {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border: 2px dotted #000;
  padding: 20px;
  min-height: 250px; 
  width: 500px; 
  max-width: 100%; 
  box-sizing: border-box; 
  margin-top: 50px;
}


.drag-and-drop-box p {
  text-align: center;
  word-wrap: break-word; 
}





.upload-button-for-files {
  background-color: rgb(79, 146, 197); 
  color: #fff; 
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 24px;
  margin-left: 700px;
  margin-top: 40px;
  
}

.upload-button-for-files:hover {
  background-color: #0056b3; 
}

