.video-gridH {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: -350px;
  margin-left: 100px;
  margin-right: 650px;
  gap: 50px;
  position: relative;
}

.videoH {
  width: 360px;
  height: 220px; 
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.video-info-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1; 
}

.video-item-posted-date, .video-item-stats {
  margin: 5px 0;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px; 
}

.video-titleH {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;
}
